@import url('https://fonts.googleapis.com/css?family=Abel|Raleway|Raleway+Dot|Asap|Barlow|Glegoo|Julius+Sans+One|Lato|Muli|Poiret+One|Sulphur+Point|Turret+Road&display=swap');

.main_row{
    font-family: 'Sulphur Point', sans-serif;
}
.card_col{
    padding-left: 4%;
    padding-top: 4%;
}

.card_main{
    background: rgba(255, 255, 255, 0.062);
    color: white;
    border-color: #FDBC00;
    text-align: right;
    height: 280px;
    width: 300px
}

.card_main:hover{
   transition: all 0.2s ease-out;
   top: -4px;
   background: rgba(255, 255, 255, 0.048);
   box-shadow: 0px 4px 35px #FDBC00;
}

.blockquote-footer{
    color: white;
    background: tomato;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.icon{
    color: white;
    cursor: pointer;
}

.icon:hover{
    color: rgb(255, 196, 102);
 }