.blogPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.blogPage--header {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about-description h2 {
  font-size: 1.9rem !important;
}

.blogPage--header h1 {
  font-size: 1.5rem;
  font-family: var(--headerFont);
}

.blogPage--container {
  padding: 2rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.blog--search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog--input {
  width: 30%;
  height: 2.75rem;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 0.25rem 1rem;
}

.blog--input::placeholder {
  color: white;
}

.blogs--container {
  margin-top: 5rem;
  width: 100%;
}

.blog-grid {
  display: flex;
  gap: 4rem;
}

@media (min-width: 992px) and (max-width: 1380px) {
}

@media screen and (max-width: 992px) {
  .blogPage--header {
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .blog-grid {
    gap: 3rem;
  }
  .blog--input {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 702px) {
  .blog-grid {
    gap: 1.5rem;
  }
  .registerBtn {
    padding-top: 50px;
}
}

@media screen and (max-width: 550px) {
  .blogPage--header h1 {
    font-size: 2rem;
  }
  .registerBtn {
    padding-left: 10pc;
    padding-top: 50px;
}
.button {
  font-size: 23px !important;
  padding: 5px !important;
  width: 184px !important;
}
}
@media screen and (max-width: 400px) {
  .blogPage--header {
    height: 20vh;
  }
  .blogPage--header h1 {
    font-size: 2.5rem;
  }
  .registerBtn {
      padding-top: 50px;
  }
  .button {
    font-size: 23px !important;
    padding: 5px !important;
    width: 184px !important;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
}

@media only screen and (device-width: 768px) {
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #06e24f;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 8px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
